<a href="https://colab.research.google.com/github/sadullahmath/LinearRegresyon/blob/master/Feature_Engineering2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
file_url = 'https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter03/bank-full.csv'

In [0]:
# Reading the banking data
bankData = pd.read_csv(file_url,sep=";")

In [0]:
# Normalizing data
from sklearn import preprocessing
x = bankData[['balance']].values.astype(float)

In [0]:
minmaxScaler = preprocessing.MinMaxScaler()

In [0]:
bankData['balanceTran'] = minmaxScaler.fit_transform(x)

In [8]:
bankData.head()

   age           job  marital  education  ... previous  poutcome   y balanceTran
0   58    management  married   tertiary  ...        0   unknown  no    0.092259
1   44    technician   single  secondary  ...        0   unknown  no    0.073067
2   33  entrepreneur  married  secondary  ...        0   unknown  no    0.072822
3   47   blue-collar  married    unknown  ...        0   unknown  no    0.086476
4   33       unknown   single    unknown  ...        0   unknown  no    0.072812

[5 rows x 18 columns]

In [0]:
# Adding a small numerical constant to eliminate 0 values
bankData['balanceTran'] = bankData['balanceTran'] + 0.00001

In [11]:
# Let us transform values for loan data
bankData['loanTran'] = 1
# Giving a weight of 5 if there is no loan
bankData.loc[bankData['loan'] == 'no', 'loanTran'] = 5
bankData.head()

   age           job  marital  education  ... poutcome   y balanceTran loanTran
0   58    management  married   tertiary  ...  unknown  no    0.092269        5
1   44    technician   single  secondary  ...  unknown  no    0.073077        5
2   33  entrepreneur  married  secondary  ...  unknown  no    0.072832        1
3   47   blue-collar  married    unknown  ...  unknown  no    0.086486        5
4   33       unknown   single    unknown  ...  unknown  no    0.072822        5

[5 rows x 19 columns]

In [0]:
# Let us transform values for Housing data
bankData['houseTran'] = 5

In [15]:
bankData.loc[bankData['housing'] == 'no', 'houseTran'] = 1
print(bankData.head(7))

   age           job  marital  education  ...   y  balanceTran loanTran houseTran
0   58    management  married   tertiary  ...  no     0.092269        5         5
1   44    technician   single  secondary  ...  no     0.073077        5         5
2   33  entrepreneur  married  secondary  ...  no     0.072832        1         5
3   47   blue-collar  married    unknown  ...  no     0.086486        5         5
4   33       unknown   single    unknown  ...  no     0.072822        5         1
5   35    management  married   tertiary  ...  no     0.074911        5         5
6   28    management   single   tertiary  ...  no     0.076872        1         5

[7 rows x 20 columns]

In [16]:
# Let us now create the new variable which is a product of all these
bankData['assetIndex'] = bankData['balanceTran'] * bankData['loanTran'] * bankData['houseTran']
bankData.head()

   age           job  marital  ... loanTran houseTran  assetIndex
0   58    management  married  ...        5         5    2.306734
1   44    technician   single  ...        5         5    1.826916
2   33  entrepreneur  married  ...        1         5    0.364158
3   47   blue-collar  married  ...        5         5    2.162153
4   33       unknown   single  ...        5         1    0.364112

[5 rows x 21 columns]

In [17]:
# Finding the quantile
np.quantile(bankData['assetIndex'],[0.25,0.5,0.75])

array([0.37668646, 0.56920367, 1.9027249 ])

In [18]:
bankData['assetClass'] = 'Quant1'
bankData.loc[(bankData['assetIndex'] > 0.38) & (bankData['assetIndex'] < 0.57), 'assetClass'] = 'Quant2'
bankData.loc[(bankData['assetIndex'] > 0.57) & (bankData['assetIndex'] < 1.9), 'assetClass'] = 'Quant3'
bankData.loc[bankData['assetIndex'] > 1.9, 'assetClass'] = 'Quant4'
bankData.head()
bankData.assetClass[bankData['assetIndex'] > 1.9] = 'Quant4'
bankData.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   age           job  marital  ... houseTran assetIndex  assetClass
0   58    management  married  ...         5   2.306734      Quant4
1   44    technician   single  ...         5   1.826916      Quant3
2   33  entrepreneur  married  ...         5   0.364158      Quant1
3   47   blue-collar  married  ...         5   2.162153      Quant4
4   33       unknown   single  ...         1   0.364112      Quant1

[5 rows x 22 columns]

In [0]:
# Calculating total of each asset class
assetTot = bankData.groupby('assetClass')['y'].agg(assetTot='count').reset_index()
# Calculating the category wise counts
assetProp = bankData.groupby(['assetClass', 'y'])['y'].agg(assetCat='count').reset_index()

In [20]:
# Merging both the data frames
assetComb = pd.merge(assetProp, assetTot, on = ['assetClass'])
assetComb['catProp'] = (assetComb.assetCat / assetComb.assetTot)*100
assetComb

  assetClass    y  assetCat  assetTot    catProp
0     Quant1   no     10921     12212  89.428431
1     Quant1  yes      1291     12212  10.571569
2     Quant2   no      8436     10400  81.115385
3     Quant2  yes      1964     10400  18.884615
4     Quant3   no     10144     11121  91.214819
5     Quant3  yes       977     11121   8.785181
6     Quant4   no     10421     11478  90.791079
7     Quant4  yes      1057     11478   9.208921

In [21]:
# Looking at Data types
print(bankData.dtypes)
# Looking at descriptive statistics
print(bankData.describe())

age              int64
job             object
marital         object
education       object
default         object
balance          int64
housing         object
loan            object
contact         object
day              int64
month           object
duration         int64
campaign         int64
pdays            int64
previous         int64
poutcome        object
y               object
balanceTran    float64
loanTran         int64
houseTran        int64
assetIndex     float64
assetClass      object
dtype: object
                age        balance  ...     houseTran    assetIndex
count  45211.000000   45211.000000  ...  45211.000000  45211.000000
mean      40.936210    1362.272058  ...      3.223353      1.179189
std       10.618762    3044.765829  ...      1.987511      0.952080
min       18.000000   -8019.000000  ...      1.000000      0.000010
25%       33.000000      72.000000  ...      1.000000      0.376686
50%       39.000000     448.000000  ...      5.000000      0.569204
75%       48.000000    1428.000000  ...      5.000000      1.902725
max       95.000000  102127.000000  ...      5.000000     15.108152

[8 rows x 11 columns]